doctype html
html
  head
      link( href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
      script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
      script( src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  body
      div(class="container align-self-center")
          div(class="row")
              div(class="col-sm-4")
              div(class="col-sm-4")
                  form(method="POST" action="/api/user/newUserByAdminSetPassword")
                      input(type="hidden" name="email" value=email) 
                      - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                      h1(class=h1Classes) Please set your password
                      
                      div(class="form-group pass_show")
                          - var pass1Class = ['form-control']
                          label( for="password1") Password
                          input(type="password" name="password1" class=pass1Class placeholder="password" required autofocus)
                      div(class="form-group pass_show")
                          - var pass2Class = ['form-control']
                          label(for="password2") Confirm Password
                          input(type="password" name="password2"  class=pass2Class placeholder="Confirm password" required)
                      - var buttonClass=['btn', 'btn-success'];
                      button(class=buttonClass type="submit") Set password
                      #error
                          if error
                              p.text-danger #{error}
                      